<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEmanager</title>
    <link rel="stylesheet" href="{% static '/css/WEmanagerstyle.css' %}">
</head>
<body>
    <div class="container">
   <div class="sidebarnav">
    
    {% if user.is_authenticated %}

        <a href="{%url 'abonnés' %}">Abonnés</a>
        <a href="{%url 'relevés' %}">Relevés</a> 
        <a href="{%url 'factures' %}">Factures</a>
        <a href="{%url 'paiements' %}">Paiements</a>
        <hr>
        <a href="{% url 'logout' %}">Déconnexion</a>

        {% else %}

        <a href="{% url 'login' %}">Connexion</a>
        <a href="{% url 'signup' %}">Inscription</a>

    {% endif %}
   </div> 

   <div class="main-content">
    <h1>Bienvenue sur WEmanager</h1>
    <p>Gérez vos abonnés, relevés, factures et paiements en toute simplicité.</p>
    {% if user.is_authenticated %}
        <p>Bonjour, {{ user.username }}! </p>
    {% else %}
        <p><a href="{% url 'login' %}">Connexion</a> | <a href="{% url 'signup' %}">Inscription</a></p>
    {% endif %}
   </div>
   </div>
</body>
</html>