<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/WEmanagerstyle.css' %}">
    <title>Dashboard - WEmanager</title>
</head>
<body>
    <div class="contain">
        <nav class="navbar">
            <div class="menu">
            {% if user.is_authenticated %}
                <div class="logo"><h2 style="color: white;">⚡ WEmanager - Suivi Factures</h2></div>
                <a href="{% url 'home' %}">Accueil</a>
            <hr>
                <a href="{%url 'abonnes' %}">Abonnés</a>
                <a href="{%url 'releves' %}">Relevés</a> 
                <a href="{%url 'factures' %}">Factures</a>
                <a href="{%url 'paiement' %}">Paiements</a>
                <hr>
                <a href="{% url 'logout' %}">Déconnexion</a>

                {% else %}
                <div class="logo"><h2 style="color: white;">⚡ WEmanager - Suivi Factures</h2></div>
                <a href="{% url 'home' %}">Accueil</a>
            <hr>
                <a href="{% url 'login' %}">Connexion</a>
                <a href="{% url 'signup' %}">Inscription</a>

            {% endif %}
            </div>
        </nav>

        <div class="container">
            <h1>Tableau de Bord</h1>
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
                <div class="card">
                    <h3>Abonnés</h3>
                    <p>Gérer les contrats eau/élec</p>
                    <a href="/abonnes" class="btn btn-primary">Voir la liste</a>
                </div>
                <div class="card">
                    <h3>Relevés</h3>
                    <p>Saisir les consommations</p>
                    <a href="/releves" class="btn btn-primary">Nouveau relevé</a>
                </div>
                <div class="card">
                    <h3>Factures</h3>
                    <p>Suivi des impayés</p>
                    <a href="/factures" class="btn btn-success">Gérer les factures</a>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>