<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/WEmanagerstyle.css' %}">
    <title>Modifier un relevé - WEmanager</title>
</head>
<body>
    <div class="contain">
        <nav class="navbar">
            <div class="menu">
            {% if user.is_authenticated %}
                <div class="logo"><h2 style="color: white;">⚡ WEmanager - Suivi Factures</h2></div>
                <a href="{% url 'home' %}">Accueil</a>
            <hr>
                <a href="{%url 'abonnes' %}">Abonnés</a>
                <a href="{%url 'releves' %}">Relevés</a> 
                <a href="{%url 'factures' %}">Factures</a>
                <a href="{%url 'paiement' %}">Paiements</a>
                <hr>
                <a href="{% url 'logout' %}">Déconnexion</a>

                {% else %}
                <div class="logo"><h2 style="color: white;">⚡ WEmanager - Suivi Factures</h2></div>
                <a href="{% url 'home' %}">Accueil</a>
            <hr>
                <a href="{% url 'login' %}">Connexion</a>
                <a href="{% url 'signup' %}">Inscription</a>

            {% endif %}
            </div>
        </nav>
<div class="container">
<div class="card" style="max-width: 500px; margin: auto;">
    <h2>Modifier le Relevé n°{{ releve.id }}</h2>
    <p>Abonné : <strong>{{ releve.abonne.nom }}</strong></p>
    <form method="post">
        {% csrf_token %}
        
        <label>Montant (FCFA)</label>
        <input type="number" name="montant" value="{{ releve.montant }}" style="width:100%; padding:10px; margin:10px 0;">

        <label>Statut du paiement</label>
        <select name="statut" style="width:100%; padding:10px; margin:10px 0;">
            <option value="En attente" {% if releve.statut == 'En attente' %}selected{% endif %}>En attente (Impayé)</option>
            <option value="Payé" {% if releve.statut == 'Payé' %}selected{% endif %}>Payé</option>
        </select>

        <button type="submit" class="btn btn-success" style="width:100%;">Enregistrer les modifications</button>
        <a href="{% url 'factures' %}" style="display:block; text-align:center; margin-top:10px;">Annuler</a>
    </form>
</div>
</div>
</body>
</html>